@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Nunito&display=swap');


*
{
    margin: 0;
}
:root
{
    --sidebarColor: rgb(233, 233, 233);
    --sidebarBackgroundColor: rgb(49, 94, 43);
}
body
{
    display: grid;
    grid-template-columns: 300px minmax(150px, auto);
    grid-template-rows: 100vh;
    font-family: 'Nunito', sans-serif;
}

.sidebar
{
    padding: 5%;

    display: flex;
    flex-direction: column;
    gap: 50px;

    color: var(--sidebarColor);  
    background-color: var(--sidebarBackgroundColor);  

}
.sidebarTitle
{
    display: flex;
    gap: 10px;
}
.sidebarTitle > img
{
    margin: 0;
    width: 32px;
    align-self: center;
    height: 32px;
}
.sidebarTitle > h1
{
    font-size: 2rem;
    margin: 0;
    font-weight: bold;
}

.dashLinks
{
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    gap: 10px;
}
.dashLinks > div
{
    display: flex;
    align-items: center;
    gap: 10px;
}
.dashLinks>div>h3
{
    font-weight: 300;
}
.dashLinks >div >img
{
    width: 24px;
    height: 24px;
}

.main
{
    
    display: grid;
    grid-template-rows:60px 100px;
}
.mainHead
{
    display: flex;
    justify-content: space-between;

    width: auto;
    margin: 35px 30px;

}
.search
{
    display: flex;
    gap: 12px;
    align-items: center;
    
    width: 60%;
}

.search > input
{
    width: 100%;

    border-radius: 15px;
    padding: 5px 10px;

    outline: none;
    border: none;

    background-color: rgb(202, 201, 201);

    font-size: 1.2rem;
}

.search > img
{
    width: 32px;
    height: 32px;
}
.headerProfile
{
    display: flex;

}
